<!DOCTYPE html>
{% load static %}
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>AquaSesh</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'styles/main.css' %}">

</head>

<body>
    <header>
        <p>AQUASESH</p>
        <nav>
            <ul class="nav__links">
                <li><a href="{% url 'home' %}" >BILETY</a></li>
                <li><a href="{% url 'home' %}" >LINE-UP</a></li>
                <li><a href="{% url 'home' %}" >SCENY</a></li>
            </ul>
        </nav>
        <a class="lgn" href="{% url 'login' %}"><button>ZALOGUJ</button></a>
    </header>

    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li>{{message}}</li>
        {% endfor %}
    </ul>
    {% endif %}

    {% block content %}

    {% endblock content %}

</body>
</html>